header {
  height: 80px;
  background-color: #fbfbfb;
  color: #1c1c20;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid #f2ebeb;
}
.headerWrapper {
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0px 35px;
}

.headerWrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.8em;
  margin: 0px;
  padding: 0px;
}
.headerWrapper button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border: none;
  padding: 0px;
  background-color: inherit;
  cursor: pointer;
}
.headerWrapper button:hover {
  color: #888;
}
