header {
  height: 80px;
  background-color: #fbfbfb;
  color: #1c1c20;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 58px 33px -19px #eaedde99;
  font-family: "Roboto", sans-serif;
}

.headerWrapper {
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0px 25px;
  box-shadow: 0 -4px 27px -19px #535353;
}

.headerWrapper h1 {
  font-weight: 300;
  font-size: 2.8em;
  margin: 0px;
  padding: 0px;
}

.headerWrapper button {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  border: none;
  padding: 0px;
  background-color: inherit;
  cursor: pointer;
}

.headerWrapper button:hover {
  color: #888;
}
