.shopWrapper {
  width: 100%;
  max-width: 600px;
}
.productHolder {
  font-family: 'Roboto',sans-serif;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.productItem {
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.productItem > .inStore {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.productItem > img {
  width: 180px;
}
.productItem button {
  width: 100%;
  margin-bottom: 5px;
}

.productNameHolder {
  display: flex;
  margin: 0px auto;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em
}
.productNameHolder > h5, .productNameHolder > h3 {
  margin: 2px 5px 6px;
}
.productNameHolder > h5 {
  font-weight: 300;
}
.sortingDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  background-color: #f6f6f6;
}

.shopWrapper button, .stylishButton {
  color: #fefefe;
  background-color: #232323;
  margin: 5px;
  padding: 8px 16px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.shopWrapper button:hover, .stylishButton:hover {
  background-color: #444;
}
.shopWrapper button:active, .stylishButton:active {
  background-color: #222;
}



/* Temporary cart */
.tempCart {
  background-color: #aaa;
  margin-top: 40px;
  padding: 15px;
}
