.shopWrapper {
  width: 100%;
  max-width: 1000px;
  padding-top: 55px;
}
.productHolder {
  font-family: 'Roboto',sans-serif;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.productItem {
  max-width: 260px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-end;
}
.productItem > .inStore {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.productItem > img {
  width: 220px;
}
.productItem button {
  width: 220px;
  margin-bottom: 5px;
}

.productNameHolder {
  width: 210px;
  display: flex;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}
.productNameHolder > h3 {
  text-overflow: ellipsis;
  width: 55%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.productNameHolder > h5, .productNameHolder > h3 {
  margin: 2px 5px 6px;
}
.productNameHolder > h5 {
  font-weight: 300;
}
.sortingDiv {
  display: none;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  background-color: #f6f6f6;
}

.shopWrapper button, .stylishButton {
  color: #fefefe;
  background-color: #232323;
  margin: 0px;
  padding: 8px 16px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.shopWrapper button:hover, .stylishButton:hover {
  background-color: #444;
}
.shopWrapper button:active, .stylishButton:active {
  background-color: #222;
}

/* sorting div buttons */
.sortingDiv button {
  margin: 0px 5px;
}


/* Temporary cart */
.tempCart {
  background-color: #aaa;
  margin-top: 40px;
  padding: 15px;
}
