.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column * {
  align-self: center;
}

.flex button {
  border: none;
  outline: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 17px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 4px;
  padding: 7px 20px;
  font-family: "Roboto", sans-serif;
  border-top: 7px dotted #aca;
}
.flex button:hover {
    cursor: pointer;
}
